In [1]:
x=4
y=10
x+y

14

In [2]:
#listas mutables * // inmutables 
v1=[1,2,3,4,5]
v2=[2,5,6,7,8]
#append, pop, remove, sort, reverse
# listas:[], 
# tuplas:(), diccionarios:{}
t1=(1,2,3,4,5)
print(t1[0])

1

In [3]:
#lista agrupa una tupla: persona, edad
v3=[("Juan",18),("David",20),("Ana",22),("Maria",19)]
for nombre,edad in v3: 
    print(f"Nombre: {nombre}, Edad: {edad}")

Nombre: Juan, Edad: 18
Nombre: David, Edad: 20
Nombre: Ana, Edad: 22
Nombre: Maria, Edad: 19

In [ ]:
#notas entre 0 -20
estudiantes = [ ("Ana",8), ("David",12), ("Maria",20), ("Juan",15) ]
#Mostrar los que aprobaron nota >14
aprobados= [nombre for nombre, nota in estudiantes if nota > 14]
print("Estudiantes aprobados:", aprobados)
#Mostrar el promedio de las notas
#-----
#Mostrar el estudiante con mayor nota
#----

Estudiantes aprobados: ['Maria', 'Juan']

In [5]:
#tupla a lista
val=("Juan","Jose","Maria")
#list conversion
val2=list(val)
val2.append("Ana")
val3=tuple(val2)
print(val3)

('Juan', 'Jose', 'Maria', 'Ana')